body {
    font-family:sans-serif;
    width:90%;
    margin:auto;
}

.marquee {
    background-color:coral;
    width:auto;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color:white;
    text-shadow: 3px 3px #000000;
    text-align: center;
    font-family: 'PT Sans Narrow';
}

@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

body {
    background-color: white;
}

#main-pic {
    margin-top:20px;
    display: block;
    float:left;
}

#minions {
    clear:left;
    margin-top:20px;
}

#hw-links {
    float:right;
    clear:left;
    width:50%;
    top:-1025px;
    position:relative;
}

nav {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-family:sans-serif;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom:15px;
}

a {
    font-family:'Lobster';
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    font-size:40px;
    text-decoration: none;
}

a:hover {
    font-size: 44px;
    color: darkblue;
    text-decoration: none;
}

#hw1 {
    background-color:salmon;
}
#hw2 {
    background-color: cadetblue;  
}
#hw3 {
    background-color:orchid;
}
#hw4 {
    background-color:lightgreen;
}
#hw5 {
    background-color:lightslategray;
}
#hw6 {
    background-color:crimson;
}
#hw7 {
    background-color:orange;
}
#hw8 {
    background-color:olivedrab;
}
#hw9 {
    background-color:lightsalmon;
}
#hw10 {
    background-color: #f0f47c;
}

#hw11 {
    background-color:salmon;
}

#hw12 {
    background-color: cadetblue;
}

#hw13 {
    background-color: orchid;
}
#mtp {
    background-color:lightseagreen;
}
#mtt {
    background-color:darkred;
}
