body {
    background: url(../img/coffee-smartphone-desk-pen.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.selfie {
    margin-left: 15.5%;
    margin-top:-10px;
    position: fixed;
    -webkit-filter: sepia(1);
    filter: sepia(1);
    opacity: 0.4;
    filter: alpha(opacity=40);
}
}

.fa {
    color: red;
    font-size: 25px;
}

.fa1 {
    margin-right: 10px;
}

.fa2 {
    margin-left: 10px;
}

h1 {
    text-align: center;
    color: #5e5e5e;
    margin-left: -40%;
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.hw {
    text-decoration: none;
    color: #5e5e5e;
    text-align: center;
    margin-left: 15%;
    font-size: 34px;
    font-family: 'Pinyon Script';
    margin-top: 40px;
}

.shia-gif {
    -ms-transform: rotate(2deg);
    /* IE 9 */
    -webkit-transform: rotate(2deg);
    /* Chrome, Safari, Opera */
    transform: rotate(2deg);
    margin-left: -5.5%;
    width: 230px;
    margin-top: 287px;
    height: 140px;
    position: fixed;
}

/* Tablet */

@media (min-width: 768px) and (max-width: 991px) { 
    
    .selfie{
        width:160px;
        height:140px;
        margin-top: 78px;
        margin-left: 110px;
        position: fixed;
    }
    
    .shia-gif {
    margin-left: 14.2%;
    width: 150px;
    margin-top: 280px;
    height: 90px;
    position: fixed;
}
    .list {
        margin-top:75px;
    }
    h1 {
        margin-left:36%;
    }
    
    .hw {
        margin-left:58%;
        font-size:20px;
    }
}

/* Phone */

	@media (max-width: 767px) {
        .selfie{
        width:170px;
        height:170px;
        margin-top: 95px;
        margin-left: -90px;
        position:absolute;
    }
     .shia-gif {
    margin-left: -10%;
    width: 130px;
    margin-top: 343px;
    height: 110px;
    position: fixed;
}
    .list {
        margin-top:95px;
    }
    h1 {
        margin-left:45%;
        font-size:30px;
    }
    
    .hw {
        margin-left:60%;
        font-size:20px;
    }
}

