/* Laptop */

main {
    width: 90%;
    margin: auto;
}

#hero {
    background: url('../hw-img/sub_header_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    color: white;
    padding-top: 150px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
}

#hero h1 {
    font-size: 60px;
    margin-left: 70px;
    margin-bottom: 25px;
}

#hero p {
    font-size: 22px;
    margin-left: 200px;
    font-family: sans-serif;
}

#search {
    clear: both;
    height: 200px;
    padding-top: 40px;
}

#search #locate {
    float: left;
    width: 25%;
    text-align: center;
}

#search #home {
    float: left;
    width: 25%;
    text-align: center;
}

#search #secure {
    float: left;
    width: 25%;
    text-align: center;
}

#search #delivery {
    float: left;
    width: 25%;
    text-align: center;
}

#search h2 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#search p {
    font-size: 14px;
}


/*Tablet*/

@media (min-width: 768px) and (max-width: 991px) {
    #hero {
        height: 350px;
        padding-top: 150px;
        padding-bottom: 10px;
        padding-left: 0%;
        padding-right: 0%;
    }
    #hero h1 {
        margin-left: 2%;
        font-size: 58px;
        margin-top: 50px;
    }
    #hero p {
        margin-left: 15%;
    }
    #search #locate {
        width: 50%;
    }
    #search #home {
        width: 50%;
    }
    #search #secure {
        clear: left;
        width: 50%;
        margin-top: 30px;
    }
    #search #delivery {
        width: 50%;
        margin-top: 30px;
    }
}

/*Phone*/