.container {
    width: 90%;
    margin: auto;
    font-family:sans-serif;
}

h1 {
    background-color:black;
    border: 1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 50px;
    padding-right:50px;
    position:relative;
    color:white;
    text-align:center;
    font-family:sans-serif;
    font-size:30px;
}

#pizza-img {
    margin-top:-25px;
    width:100%;
}

#about-us {
    text-align:center;
    background-color:white;
    border: 1px solid white;
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 50px;
    padding-right:50px;
}

#about-us h2{
    margin-top:-10px;
    font-size:40px;
    font-family:sans-serif;
}

#about-us p {
    font-size:20px;
    text-align:left;
    margin-left:5%;
    margin-right:5%;
}

.img-container {
    width: 200px;
    height: 120px;
}

.img-container img {
    width: 100%;
    height: auto;
}

.flag {
    float:left;
}

.scooter {
    float:left;
}

.mountain {
    float:left;
}



