.container {
    width: 80.5%;
    margin: 0 auto;
    font-family:sans-serif;
}

h1 {
    background-color:black;
    border: 1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 50px;
    padding-right:50px;
    position:relative;
    color:white;
    text-align:center;
    font-family:sans-serif;
    font-size:30px;
}

#pizza-img {
    margin-top:-25px;
}

#about-us {
    text-align:center;
    background-color:white;
    border: white;
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 50px;
    padding-right:50px;
    position:relative;
    width:80.5%;
    margin: 0 auto;
}

#about-us h2{
    margin-top:-10px;
    font-size:40px;
    font-family:sans-serif;
}

#about-us p {
    width:50%;
    position:relative;
    left:260px;
    font-size:20px;
}

#3-img {
    width:80%
}

#flag {
    width:25%;
    height:30px;
    float:left;
}




