*{
    font-family:sans-serif;
    color:#808080;
    margin:auto;
}
header{
    text-align:center;
    padding:40;
}
h1{
    font-weight:normal;
    font-size:26px;
    margin-bottom:20px;
}
.header-p{
    font-size:12px;
    margin-bottom:40px;
}
.clear-fix:after {
    content:'';
    display:block;
    clear:both;
}
.big-box{
    background:url('../img/keyboard.JPG');
    background-repeat:no-repeat;
    background-size:350px 170px;
    background-position:10px 10px;
}
#keyboard{
    width:350px;
    height:300px;
    padding:10px;
    margin-top:10px;
    margin-right:10px;
    margin-left:10px;
    background-color: #F0F0F0;
    float:left;
}
#h3-size{
    font-weight:normal;
    font-size:16px;
    top:190px;
}
#p-text-1{
    font-size:12px;
    top: 200px;
    position: relative;
}
#p-text-2{
    font-size:12px;
    top: 200px;
    position: relative;
}
#a-text{
    font-size:11px;
    margin-top:20px;
    top:210px;
    left:300px;
    position:relative;
    color:seagreen;
}
.key-text{
    top: 190px;
    position: relative;
}
main {
    width:800px;
}
#laptop{
    background:url('../img/laptop.jpg');
    background-repeat:no-repeat;
    background-size: 120px 70px;
    padding-left:10px;
    background-color:#F0F0F0;
    background-position:10px 10px;
}
#desk{
    background:url('../img/desk.jpg');
    background-repeat:no-repeat;
    background-size: 120px 70px;
    padding-left:10px;
    background-color:#F0F0F0;
    background-position:10px 10px;
}
#window{
    background:url('../img/window.jpg');
    background-repeat:no-repeat;
    background-size: 120px 70px;
    padding-left:10px;
    background-color:#F0F0F0;
    background-position:10px 10px;
}
.small-box{
    width:350px;
    height:90px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:15px;
    background-color: #F0F0F0;
    float:left;
}
.small-h3{
    font-weight:normal;
    font-size:16px;
}
.small-p{
    font-size:12px;
}
#lap-h3{
    top:10px;
    position:relative;
    left:130px;
}
#lap-p{
    top:15px;
    position:relative;
    left:130px;
}
#desk-h3{
    top:10px;
    position:relative;
    left:130px;
}
#desk-p{
    top:15px;
    position:relative;
    left:130px;
}
#window-h3{
    top:10px;
    position:relative;
    left:130px;
}
#window-p{
    top:15px;
    position:relative;
    left:130px;
}
.clear-fix-2{
    content:'';
    display:block;
    clear:both;
}
#bottom-info{
    width:800px;
    height:150px;
    margin-top:10px;
    clear:both;
}
#left{
    float:left;
    width:245px;
    padding:10px;
}
#middle{
    float:left;
    width:245px;
    padding:10px;
}
#right {
    float:left;
    width:245px;
    padding:10px;
}
ul {
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.checkmark {
    height: 12px;
    width: 12px;
    float: left;
    clear: both;
}
h4{
    margin-bottom:10px;
}
li{
    margin-bottom:5px;
    margin-left:15px;
}
.price-p{
    font-size:12px;
}
.price-a{
    font-size:11px;
    left:150px;
    top:5px;
    position:relative;
}