* {
    font-family: sans-serif;
    color: #808080;
    font-weight: normal;
    width: 690px;
    margin: auto;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
}

header p {
    font-size: 10px;
    margin-bottom: 5px;
}

main {
    border: 2px solid white;
    height: 300px;
}

.left-info {
    float: left;
    width: 350px;
    height: 300px;
    border: 1px solid #F0F0F0;
    margin-right: 20px;
    background-color: #F0F0F0;
}

.left-info img {
    width: 330px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 170pxl;
    margin-bottom: 10px;
}

.left-info p {
    font-size: 9px;
    margin-left: 10px;
}

.left {
    margin-bottom: 15px;
    margin-left: 10px;
}

.p1 {
    margin-bottom: 5px;
}

.p2 {
    margin-bottom: 25px;
}

.left-info a {
    margin-left: 300px;
    font-size: 9px;
}

right-info {
    border: 1px solid lightgray;
    float: right;
    clear: left;
    display: block;
}

.right-info p {
    font-size: 9px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.right-info img {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

h3 {
    font-size: 12px;
}

.right {
    margin-bottom: 15px;
}

div.laptop {
    margin-bottom: 15px;
    margin-right: 20px;
    height: 90px;
    background-color: #F0F0F0;
    width: 300px;
}

div.desk {
    margin-bottom: 15px;
    margin-right: 20px;
    height: 90px;
    background-color: #F0F0F0;
    width: 300px;
}

div.window {
    height: 90px;
    margin-right: 20px;
    background-color: #F0F0F0;
    width: 300px;
}

img.laptop {
    width: 140px;
    float: left;
}

img.desk {
    width: 140px;
    float: left;
}

img.window {
    width: 140px;
    float: left;
}

footer {
    clear: both;
    width: 690px;
    margin-top: 20px;
    padding-top: 20px;
}

h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    font-size: 9px;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

.why {
    float: left;
    width: 233px;
}

.main {
    float: left;
    width: 233px;
}

.checkmark {
    float: left;
    clear: both;
}

.transparent {
    width: 233px;
}

.transparent p {
    font-size: 9px;
    margin-bottom: 5px;
}

.pricing {
    font-size: 9px;
    margin-left: 150px;
    margin-top: 30px;
}

.checkmark {
    height: 12px;
    width: 12px;
}