main {
    margin:auto;
    width:100%;
    color:black;
}

section {
    margin-top:20px;
}

h1 {
    font-size: 28px; 
}

p {
    font-size:18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    color: lightgray;
    background-color: #484956;
    border: 1px solid #484956;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    text-decoration: none;
    font-weight:bold;
    text-transform: uppercase;
    margin-top:20px;
}

h2 {
    font-weight:bold;
    font-size: 24px;
}

.side-hr {
    height:3px;
    background: black;
}

h3 {
    font-size: 14px;
    font-weight:bold;
}

/*#gray {
    background-color:#484956;
    margin-top:30px;
    height:350px;
}*/

h4 {
    font-weight:bold;
    color:white;
}

.bottom-link {
    text-decoration: none;
    color: white;
}

.bottom-hr {
    color:white;
}
