* {
    font-family: Arial;
    text-align: left;
    margin-left:3px;
    margin-right:3px;
}

header {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: blue;
    width: 100%;
}

.title {
    font-weight: normal;
    color: white;
    background-color: blue;
    font-size: 50px;
    padding-left: 10px;
}

.titlelink {
    font-size: 1.5em;
    color: white;
    padding-left:10px;
    padding-bottom: 0px;
}

td {
    width: 1000px
}

.processor {
    width: 100%;
}

h3 {
    font-size: 30px;
}

.para3 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
    width: 100%;
    padding-left: 10px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

.ssd {
    width: 100%;
}